@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --grey: #f1f0f6;
    --dark-grey: #8d8d8d;
    --light: #fff;
    --dark: #000;
    --green: #81d43a;
    --light-green: #e3ffcb;
    --blue: #1775f1;
    --light-blue: #d0e4ff;
    --dark-blue: #0c5fcd;
    --red: #fc3b56;
    --btn-gradient: linear-gradient(to right top, #fc6c8f, #ffb86c);
}
.button-none {
    visibility: hidden;
}
.pointer-none {
    pointer-events: none;
}
body {
    background: var(--grey);
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}
.pointer-none {
    pointer-events: none;
}

.main-container {
    display: none;
}
.main-container.show {
    display: block;
}
/* SIDEBAR */
#sidebar {
    position: fixed;
    max-width: 260px;
    width: 100%;
    background: var(--light);
    top: 0;
    left: 0;
    height: 100%;
    overflow-y: auto;
    scrollbar-width: none;
    transition: all 0.3s ease;
    z-index: 200;
}
#sidebar.hide {
    max-width: 60px;
}
#sidebar.hide:hover {
    max-width: 260px;
}
#sidebar::-webkit-scrollbar {
    display: none;
}
#sidebar .brand {
    font-size: 24px;
    display: flex;
    align-items: center;
    height: 64px;
    font-weight: 700;
    color: var(--blue);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
    background: var(--light);
    transition: all 0.3s ease;
    padding: 0 6px;
}
#sidebar .icon {
    min-width: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 6px;
}
#sidebar .icon-right {
    margin-left: auto;
    transition: all 0.3s ease;
}
#sidebar .side-menu {
    margin: 36px 0;
    padding: 0 20px;
    transition: all 0.3s ease;
}
#sidebar.hide .side-menu {
    padding: 0 6px;
}
#sidebar.hide:hover .side-menu {
    padding: 0 20px;
}
#sidebar .side-menu span {
    display: flex;
    align-items: center;
    font-size: 15px;
    color: var(--dark);
    padding: 12px 16px 12px 0;
    transition: all 0.3s ease;
    border-radius: 10px;
    margin: 4px 0;
    white-space: nowrap;
    cursor: pointer;
}
#sidebar .side-menu > li > span:hover {
    background: var(--grey);
}
#sidebar .side-menu > li > span.active .icon-right {
    transform: rotateZ(90deg);
}
#sidebar .side-menu > li > span.active,
#sidebar .side-menu > li > span.active:hover {
    background: var(--blue);
    color: var(--light);
}
#sidebar .divider {
    margin-top: 24px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--dark-grey);
    transition: all 0.3s ease;
    white-space: nowrap;
}
#sidebar.hide:hover .divider {
    text-align: left;
}
#sidebar.hide .divider {
    text-align: center;
}
#sidebar .side-dropdown {
    padding-left: 54px;
    max-height: 0;
    overflow-y: hidden;
    transition: all 0.15s ease;
}
#sidebar .side-dropdown.show {
    max-height: 1000px;
}
#sidebar .side-dropdown span:hover {
    color: var(--blue);
}
#sidebar .ads {
    width: 100%;
    padding: 20px;
}
#sidebar.hide .ads {
    display: none;
}
#sidebar.hide:hover .ads {
    display: block;
}
#sidebar .ads .wrapper {
    background: var(--grey);
    padding: 20px;
    border-radius: 10px;
}
#sidebar .btn-upgrade {
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 0;
    color: var(--light);
    background: var(--blue);
    transition: all 0.3s ease;
    border-radius: 5px;
    font-weight: 600;
    margin-bottom: 12px;
}
#sidebar .btn-upgrade:hover {
    background: var(--dark-blue);
}
#sidebar .ads .wrapper p {
    font-size: 12px;
    color: var(--dark-grey);
    text-align: center;
}
#sidebar .ads .wrapper p span {
    font-weight: 700;
}
/* SIDEBAR */

/* CONTENT */
#content {
    position: relative;
    width: calc(100% - 260px);
    left: 260px;
    transition: all 0.3s ease;
}
#sidebar.hide + #content {
    width: calc(100% - 60px);
    left: 60px;
}
/* NAVBAR */
nav {
    background: var(--light);
    height: 64px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    grid-gap: 28px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
}
nav .toggle-sidebar {
    font-size: 18px;
    cursor: pointer;
}
nav form {
    max-width: 400px;
    width: 100%;
    margin-right: auto;
}
nav .form-group {
    position: relative;
}
nav .form-group input {
    width: 100%;
    background: var(--grey);
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 10px 36px 10px 16px;
    transition: all 0.3s ease;
}
nav .form-group input:focus {
    box-shadow: 0 0 0 1px var(--blue), 0 0 0 4px var(--light-blue);
}
nav .form-group .icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 16px;
    color: var(--dark-grey);
}
nav .nav-link {
    position: relative;
}
nav .nav-link .icon {
    font-size: 18px;
    color: var(--dark);
}
nav .nav-link .badge {
    position: absolute;
    top: -12px;
    right: -12px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid var(--light);
    background: var(--red);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--light);
    font-size: 10px;
    font-weight: 700;
}
nav .divider {
    width: 1px;
    background: var(--grey);
    height: 12px;
    display: block;
}
nav .profile {
    position: relative;
}
nav .profile img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}
nav .profile .profile-link {
    position: absolute;
    top: calc(100% + 10px);
    right: 0;
    background: var(--light);
    padding: 10px 0;
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 160px;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
nav .profile .profile-link.show {
    opacity: 1;
    pointer-events: visible;
    top: 100%;
}
nav .profile .profile-link span {
    padding: 10px 16px;
    display: flex;
    grid-gap: 10px;
    font-size: 14px;
    color: var(--dark);
    align-items: center;
    transition: all 0.3s ease;
}
nav .profile .profile-link span:hover {
    background: var(--grey);
}
/* NAVBAR */

/* MAIN */
main {
    margin: 10px 10px;
    height: 100%;
    background-color: #fff;
    border-radius: 10px;
    padding: 24px 20px 20px 20px;
}
main .title {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 10px;
}
main .breadcrumbs {
    display: flex;
    grid-gap: 6px;
}
main .breadcrumbs li,
main .breadcrumbs li span {
    font-size: 14px;
}
main .breadcrumbs li span {
    color: var(--blue);
}
main .breadcrumbs li span.active,
main .breadcrumbs li.divider {
    color: var(--dark-grey);
    pointer-events: none;
}
main .info-data {
    margin-top: 36px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: 20px;
}
main .info-data .card {
    padding: 20px;
    border-radius: 10px;
    background: var(--light);
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.05);
}
main .card .head {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
main .card .head h2 {
    font-size: 24px;
    font-weight: 600;
}
main .card .head p {
    font-size: 14px;
}
main .card .head .icon {
    font-size: 20px;
    color: var(--green);
}
main .card .head .icon.down {
    color: var(--red);
}
main .card .progress {
    display: block;
    margin-top: 24px;
    height: 10px;
    width: 100%;
    border-radius: 10px;
    background: var(--grey);
    overflow-y: hidden;
    position: relative;
    margin-bottom: 4px;
}
main .card .progress::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: var(--blue);
    width: var(--value);
}
main .card .label {
    font-size: 14px;
    font-weight: 700;
}
main .data {
    display: flex;
    grid-gap: 20px;
    margin-top: 20px;
    flex-wrap: wrap;
}
main .data .content-data {
    flex-grow: 1;
    flex-basis: 400px;
    padding: 20px;
    background: var(--light);
    border-radius: 10px;
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.1);
}
main .content-data .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}
main .content-data .head h3 {
    font-size: 20px;
    font-weight: 600;
}
main .content-data .head .menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
main .content-data .head .menu .icon {
    cursor: pointer;
}
main .content-data .head .menu-link {
    position: absolute;
    top: calc(100% + 10px);
    right: 0;
    width: 140px;
    background: var(--light);
    border-radius: 10px;
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.1);
    padding: 10px 0;
    z-index: 100;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
main .content-data .head .menu-link.show {
    top: 100%;
    opacity: 1;
    pointer-events: visible;
}
main .content-data .head .menu-link span {
    display: block;
    padding: 6px 16px;
    font-size: 14px;
    color: var(--dark);
    transition: all 0.3s ease;
}
main .content-data .head .menu-link span:hover {
    background: var(--grey);
}
main .content-data .chart {
    width: 100%;
    max-width: 100%;
    overflow-x: auto;
    scrollbar-width: none;
}
main .content-data .chart::-webkit-scrollbar {
    display: none;
}

main .chat-box {
    width: 100%;
    max-height: 360px;
    overflow-y: auto;
    scrollbar-width: none;
}
main .chat-box::-webkit-scrollbar {
    display: none;
}
main .chat-box .day {
    text-align: center;
    margin-bottom: 10px;
}
main .chat-box .day span {
    display: inline-block;
    padding: 6px 12px;
    border-radius: 20px;
    background: var(--light-blue);
    color: var(--blue);
    font-size: 12px;
    font-weight: 600;
}
main .chat-box .msg img {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    object-fit: cover;
}
main .chat-box .msg {
    display: flex;
    grid-gap: 6px;
    align-items: flex-start;
}
main .chat-box .profile .username {
    font-size: 14px;
    font-weight: 600;
    display: inline-block;
    margin-right: 6px;
}
main .chat-box .profile .time {
    font-size: 12px;
    color: var(--dark-grey);
}
main .chat-box .chat p {
    font-size: 14px;
    padding: 6px 10px;
    display: inline-block;
    max-width: 400px;
    line-height: 150%;
}
main .chat-box .msg:not(.me) .chat p {
    border-radius: 0 5px 5px 5px;
    background: var(--blue);
    color: var(--light);
}
main .chat-box .msg.me {
    justify-content: flex-end;
}
main .chat-box .msg.me .profile {
    text-align: right;
}
main .chat-box .msg.me p {
    background: var(--grey);
    border-radius: 5px 0 5px 5px;
}
main form {
    margin-top: 6px;
}
main .form-group {
    width: 100%;
    display: flex;
    grid-gap: 10px;
}
main .form-group input {
    flex-grow: 1;
    padding: 10px 16px;
    border-radius: 5px;
    outline: none;
    background: var(--grey);
    border: none;
    transition: all 0.3s ease;
    width: 100%;
}
main .form-group input:focus {
    box-shadow: 0 0 0 1px var(--blue), 0 0 0 4px var(--light-blue);
}
main .btn-send {
    padding: 0 16px;
    background: var(--blue);
    border-radius: 5px;
    color: var(--light);
    cursor: pointer;
    border: none;
    transition: all 0.3s ease;
}
main .btn-send:hover {
    background: var(--dark-blue);
}
/* MAIN */
/* CONTENT */

@media screen and (max-width: 768px) {
    #content {
        position: relative;
        width: calc(100% - 60px);
        transition: all 0.3s ease;
    }
    nav .nav-link,
    nav .divider {
        display: none;
    }
}
.hidden-box {
    display: none;
}
.show-box {
    display: block;
}

/* popup css ===================================================== */
.popup-wrapper {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 1000;
    min-width: 800px;
    min-height: 800px;
    width: 100vw;
    height: 100%;
    display: none;
}
.modelBoxWrapper {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 345px;
    width: 100%;
    background: #fff;
    border-radius: 8px;
    padding: 15px 25px 22px;
    transition: right 0.3s ease;
    box-shadow: 0 0 0 100000px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    display: none;
}
.popup-wrapper.show {
    display: block;
}
.modelBoxWrapper.show {
    display: block;
}
.modelBoxWrapper .modelBox-header {
    display: flex;
    align-items: center;
    column-gap: 15px;
}
.modelBox-header i {
    color: #4070f4;
    font-size: 32px;
}
.modelBox-header h2 {
    color: #4070f4;
    font-weight: 500;
}
.modelBoxWrapper .modelBox-message {
    margin-top: 16px;
}
.modelBoxWrapper .modelBox-message p {
    color: #333;
    font-size: 16px;
}
.modelBox-message p a {
    color: #4070f4;
    text-decoration: none;
}
.modelBox-message p a:hover {
    text-decoration: underline;
}
.modelBoxWrapper .modelBox-buttons {
    margin-top: 16px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.modelBox-buttons .modelBox-button {
    border: none;
    color: #4070f4;
    padding: 8px 0;
    border-radius: 4px;
    cursor: pointer;
    width: calc(100% / 2 - 10px);
    transition: all 0.2s ease;
}

.modelBox-buttons #acceptBtn:hover {
    background-color: #034bf1;
    color: #fff;
}
#declineBtn {
    border: 2px solid #4070f4;
    background-color: #fff;
    color: #89a7f9;
}
#declineBtn:hover {
    background-color: #4070f4;
    color: #fff;
}
.modelBox-buttons .modelBox-button.stant {
    background: #4070f4;
    color: #fff;
}
#notifiBox {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 200px;
    background: #ffffff;
    z-index: 500;
    border-radius: 8px;
    box-shadow: 0 0 5px 1000000px rgba(0, 0, 0, 0.3);
    display: nones;
}
#notifiBox.active {
    display: block;
}

#notifi-header {
    width: 100%;
    height: 50px;
    padding: 10px;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    background-color: #0f172a;
    color: #fff;
    position: relative;
}
#notifi-header::after {
    content: '';
    position: absolute;
    left: -340px;
    bottom: -800px;
    width: 1500px;
    height: 1500px;
    z-index: -10;
}
#notify-body {
    width: 100%;
    height: 110px;
    padding: 10px;
}
#notify-bottom {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: flex-end;
    column-gap: 10px;
    padding: 0 10px;
    align-items: center;
}
#notify-bottom-btn-left {
    width: 80px;
    height: 30px;
    min-height: 30px;
    border: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    background: #cec8c7;
    color: #000000;
    border-radius: 5px;
    cursor: pointer;
}
#notify-bottom-btn-left:hover {
    box-shadow: unset;
}
#notify-bottom-btn-right {
    width: 80px;
    height: 30px;
    min-height: 30px;
    border: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    background: #ff1706;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}
#notify-bottom-btn-right:hover {
    box-shadow: unset;
}
/* // table  css  ===============================================*/
.decentralize-title {
    display: flex;
    justify-content: space-between;
    padding-right: 40px;
    margin: 10px 0;
}
.fui-table-ui-1-2 {
    color: #333;
    font-size: 14px;
}

.fui-table-ui-1-2 table {
    width: 100%;
    overflow: hidden;
    border-radius: 16px;
    text-indent: 0;
    border-color: inherit;
    border-collapse: collapse;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1),
        0 1px 2px -1px rgba(0, 0, 0, 0.1);
}
.fui-table-ui-1-2 table thead th {
    text-align: left;
    background-color: #000000;
    color: white;
    padding-block: 8px;
}
.fui-table-ui-1-2 table tbody .td-btn-accordion {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    transition: all 0.3s linear;
}
.td-btn-wrapper {
    display: flex;
    column-gap: 10px;
}
.fui-table-ui-1-2 table tbody .td-btn-accordion:hover {
    background-color: white;
}
.fui-table-ui-1-2 table tbody .td-btn-accordion svg {
    transition: transform 0.3s linear;
    width: 12px;
    color: #333;
}
.fui-table-ui-1-2 table th,
.fui-table-ui-1-2 table td {
    padding: 16px;
}
.fui-table-ui-1-2 table td {
    vertical-align: middle;
}
.fui-table-ui-1-2 table.fold-table > tbody > tr.view td,
.fui-table-ui-1-2 table.fold-table > tbody > tr.view th {
    cursor: pointer;
}
.fui-table-ui-1-2 table.fold-table > tbody > tr.view:nth-child(4n-1) {
    background: #eaf9f1;
}
.fui-table-ui-1-2 table.fold-table > tbody > tr.view:hover {
    background: #eaf9f1;
}
.fui-table-ui-1-2
    table.fold-table
    > tbody
    > tr.view.open
    .td-btn-accordion
    svg {
    transform: rotate(180deg);
}
.fui-table-ui-1-2 table.fold-table > tbody > tr.fold {
    width: 100%;
}
.fui-table-ui-1-2 table.fold-table > tbody > tr.fold > td {
    width: 100%;
    padding: 0;
}
.fui-table-ui-1-2 .fold-content-wrap {
    transition: all 0.3s linear;
    height: 0px;
    overflow: hidden;
}
.fui-table-ui-1-2 .fold-content-wrap .fold-content {
    padding: 16px;
}
.fui-table-ui-1-2 .fold-content-wrap .fold-content h3 {
    font-size: 20px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 8px;
}
.fui-table-ui-1-2 .fold-content-wrap .fold-content > p {
    margin-bottom: 16px;
    color: #4e4e4e;
}
.fui-table-ui-1-2 .fold-content-wrap > table > tbody tr:nth-child(even) {
    background: #eee;
}

.button-action-1 {
    border-radius: 4px;
    border-style: none;
    box-sizing: border-box;

    cursor: pointer;
    display: inline-block;

    font-weight: 700;
    line-height: 1.5;
    margin: 0;

    min-width: 10px;
    outline: none;
    overflow: hidden;
    padding: 9px 20px 8px;
    position: relative;
    text-align: center;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 50px;
}

.button-ation-1:hover,
.button-ation-1:focus {
    opacity: 0.75;
}
.edit {
    background-color: #222;
    color: #fff;
}
.add {
    width: 150px;
    background-color: #ff4e4e;
    color: rgb(255, 255, 255);
}
.button-action-1.delete-btn {
    background-color: #ff4e4e;
    color: rgb(255, 255, 255);
}
/* css table manager order  */

/* Reset css */
* {
    box-sizing: border-box;
}

ul,
li {
    list-style: none;
    list-style-type: none;
}

ul {
    padding: 0;
}

a {
    text-decoration: none;
}

/* End reset css */
/* ********************** Table wrap ********************** */
.table-wrap {
    color: #333;
    font-size: 14px;
}

/* ********************** End table wrap ********************** */
/* ********************** Table common ********************** */
table {
    width: 100%;
    overflow: hidden;
    border-radius: 4px;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.15),
        0 1px 2px -1px rgba(0, 0, 0, 0.1);
}

table thead th {
    text-align: left;
    padding-block: 8px;
    border-top: 1px solid #f0f0f0;
    border-bottom: 1px solid #ececec;
}
table tbody tr:not(:last-child) td {
    border-bottom: 1px solid #ececec;
}
table th,
table td {
    padding: 16px;
}
table td {
    vertical-align: middle;
}

/* ********************** End table common ********************** */
/* from css ===================================================== */
.bt-form-contact-simple {
    display: flex;
    gap: 40px;
}
.bt-form-contact-simple .contact-item {
    flex: 1;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1),
        0 1px 2px -1px rgba(0, 0, 0, 0.1);
    padding: 20px;
}
.bt-form-contact-simple .contact-title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
}
.bt-form-contact-simple .form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.bt-form-contact-simple .form-group-wrap {
    display: flex;
    align-items: center;
    gap: 20px;
}
.bt-form-contact-simple .form-group {
    width: 100%;
}
.bt-form-contact-simple .form-content,
.bt-form-contact-simple .form-input {
    width: 100%;
    padding: 15px 25px;
    border-radius: 12px;
    border: 1px solid #cbd5e1;
    background-color: transparent;
}
.bt-form-contact-simple .form-content {
    height: 250px;
    resize: none;
}
.bt-form-contact-simple .form-content::-webkit-scrollbar {
    width: 5px;
}
.bt-form-contact-simple .form-content::-webkit-scrollbar-thumb {
    background-color: #cbd5e1;
}
.bt-form-contact-simple .form-btn-wrap {
    display: flex;
    align-items: center;
    gap: 12px;
}
.bt-form-contact-simple .form-btn {
    display: inline-block;
    padding: 8px 16px;
    font-size: 1.125rem;
    line-height: 1.75rem;
    color: white;
    font-weight: 500;
    border-radius: 8px;
    user-select: none;
    cursor: pointer;
    position: relative;
    isolation: isolate;
    overflow: hidden;
}
.bt-form-contact-simple .form-btn:hover::before {
    left: auto;
    right: 0;
    width: 100%;
}
.bt-form-contact-simple .form-btn::before {
    content: '';
    position: absolute;
    left: 0;
    right: auto;
    top: 0;
    height: 100%;
    width: 0;
    background-color: #fff;
    opacity: 0.1;
    z-index: -1;
    transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.bt-form-contact-simple .form-btn--submit {
    background-color: #1dc071;
}
.bt-form-contact-simple .form-btn--reset {
    background-color: #94a3b8;
}
.bt-form-contact-simple .info-list {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.bt-form-contact-simple .info-item {
    display: flex;
    align-items: center;
    gap: 4px;
}
.bt-form-contact-simple .info-item span {
    font-weight: 600;
    margin-right: 5px;
}
.bt-form-contact-simple .google-map {
    margin-top: 40px;
}
.bt-form-contact-simple .google-map iframe {
    width: 100%;
    height: 300px;
    border-radius: 8px;
}

.button-action-order {
    align-items: center;
    background-color: #ffe7e7;
    background-position: 0 0;
    border: 1px solid #fee0e0;
    border-radius: 11px;
    box-sizing: border-box;
    color: #d33a2c;
    cursor: pointer;
    display: flex;
    font-size: 1rem;
    font-weight: 700;
    line-height: 33.4929px;
    padding: 2px 12px;
    text-align: left;
    text-decoration: none;
    text-shadow: none;
    text-underline-offset: 1px;
    transition: border 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    word-break: break-word;
}
.error-message {
    color: red;
    font-size: 14px;
}

.button-action-order:active,
.button-action-order:hover,
.button-action-order:focus {
    outline: 0;
}

.button-action-order:active {
    background-color: #d33a2c;
    box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px 0 inset;
    color: #ffffff;
}

.button-action-order:hover {
    background-color: #ffe3e3;
    border-color: #faa4a4;
}

.button-45:active:hover,
.button-45:focus:hover,
.button-45:focus {
    background-color: #d33a2c;
    box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px 0 inset;
    color: #ffffff;
}
/* css main order =================================================== */
.main-order-wrapper {
    height: 100%;
}
.container-top {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.order-infor-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.order-action-wrapper {
    margin: 10px 0px;
}
.order-content-letf {
    width: 45%;
}
.order-content-right {
    width: 45%;
}
.order-button-action {
    display: inline-block;
    width: 100px;
    height: 40px;
    background-image: linear-gradient(to right top, #fc6c8f, #ffb86c);
    color: white;
    font-weight: 600;
    border-radius: 8px;
    user-select: none;
    cursor: pointer;
    position: relative;
    isolation: isolate;
    overflow: hidden;
}
.order-button-action:hover::before {
    left: auto;
    right: 0;
    width: 100%;
}
.order-button-action::before {
    content: '';
    position: absolute;
    left: 0;
    right: auto;
    top: 0;
    height: 100%;
    width: 0;
    background-color: #fff;
    opacity: 0.1;
    z-index: -1;
    transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.action-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.order-button-delete {
    background-color: #fff;
    background-image: none;
    color: black;
}
.filter-sort-date {
    padding: 5px;
    border-radius: 5px;
    border: 0.5px solid black;
    background-color: #ffffff;
    cursor: pointer;
}
/* manager order page css =============================================== */
.title-no-order-sort {
    padding: 20px;
    text-align: center;
}
.manager-order-navba {
    display: flex;
    margin-left: 10px;
}
.manager-order-title {
    font-size: 16px;
    display: inline-block;
}
.manager-order-button {
    padding: 5px;
    border-radius: 5px;
    border: 0.5px solid black;
    background-color: #ffffff;
    cursor: pointer;
}
.manager-order-sort {
    display: flex;
    column-gap: 10px;
}
.manager-order-nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.phone-from-search {
    width: 500px;
    height: 35px;
    display: flex;
    background-color: #ebecf0;
    border: 1px solid black;
    border-radius: 10px;
    overflow: hidden;
    transition: box-shadow 0.5s ease;
}

.phone-product-category-select {
    width: auto;

    height: 100%;
    border: none;
    border-right: 1px solid black;
    padding: 5px;
    font-size: 14px;
    container-type: inline-size;
}
.lable-wrapper {
    display: flex;
    column-gap: 10px;
}

.phone-from-search .phone-input-box {
    width: 100%;
    height: 100%;
    padding-left: 10px;
    outline: none;
    border: none;
    padding: 5px;
    background-color: transparent;
}

.phone-button-form-search {
    width: 80px;
    min-width: 80px;
    height: 35px;
    border: none;
    background-color: rgb(13, 12, 15);
    text-align: center;
    color: white;
}

.product-button-action {
    display: inline-block;
    padding: 10px;
    background-image: var(--btn-gradient);
    color: white;
    font-weight: 600;
    border-radius: 8px;
    user-select: none;
    cursor: pointer;
    position: relative;
    isolation: isolate;
    overflow: hidden;
}
.product-button-action:hover::before {
    left: auto;
    right: 0;
    width: 100%;
}
.product-button-action::before {
    content: '';
    position: absolute;
    left: 0;
    right: auto;
    top: 0;
    height: 100%;
    width: 0;
    background-color: #fff;
    opacity: 0.1;
    z-index: -1;
    transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.fui-roundedFull-pagination .pagination-list {
    display: flex;
    align-items: center;
    gap: 6px;
}
.fui-roundedFull-pagination .pagination-link {
    display: block;
    min-width: 32px;
    height: 32px;
    padding-inline: 6px;
    border-radius: 100rem;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1;
    user-select: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.fui-roundedFull-pagination .pagination-link:hover {
    background-color: rgba(0, 0, 0, 0.08);
}
.fui-roundedFull-pagination .pagination-link.selected {
    background-color: #1dc071;
    color: white;
}
.manager-product-containter-bottom {
    margin: 10px 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.button-action-mnProduct {
    align-items: center;
    background-color: #ffe7e7;
    background-position: 0 0;
    border: 1px solid #fee0e0;
    border-radius: 11px;
    box-sizing: border-box;
    color: #d33a2c;
    cursor: pointer;
    display: flex;
    font-size: 1rem;
    font-weight: 700;
    line-height: 33.4929px;
    padding: 2px 12px;
    text-align: left;
    text-decoration: none;
    text-shadow: none;
    text-underline-offset: 1px;
    transition: border 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    word-break: break-word;
}

.button-action-mnProduct:active,
.button-action-mnProduct:hover,
.button-action-mnProduct:focus {
    outline: 0;
}

.button-action-mnProduct:active {
    background-color: #d33a2c;
    box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px 0 inset;
    color: #ffffff;
}

.button-action-mnProduct:hover {
    background-color: #ffe3e3;
    border-color: #faa4a4;
}
.form-pc {
    display: flex;
    flex-direction: column;
}

.form-lable-product {
    display: block;
}
.manager-product-contaienr-bottom {
    display: flex;
    width: 100%;
    height: auto;
}
.mn-product-contaier-left {
    width: 50%;
    min-height: 200px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.btn-delete-img-product {
    position: absolute;
    display: inline-block;
    top: 5px;
    right: 10px;
    padding: 5px;
    border: 0.5px rgb(113, 111, 111);
    border-radius: 50%;
    cursor: pointer;
}
.mn-product-img-privew {
    width: 300px;
    height: auto;
    object-fit: cover;
}
.mn-product-contaienr-right {
    width: 50%;
    min-height: 200px;
    max-height: 300px;
    display: flex;

    column-gap: 10px;
    padding: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.input-mnp-img {
    height: 0;
    width: 0;
}

/* CSS */
.button-action-mn-product {
    background-color: #ffffff;
    border: 1px solid #222222;
    border-radius: 8px;
    box-sizing: border-box;
    color: #222222;
    cursor: pointer;
    display: inline-block;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
        'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    margin: 0;
    outline: none;
    padding: 13px 23px;
    position: relative;
    text-align: center;
    text-decoration: none;
    touch-action: manipulation;
    transition: box-shadow 0.2s, -ms-transform 0.1s, -webkit-transform 0.1s,
        transform 0.1s;
    user-select: none;
    -webkit-user-select: none;
    width: auto;
}

.button-action-mn-product:focus-visible {
    box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
    transition: box-shadow 0.2s;
}

.button-action-mn-product:active {
    background-color: #f7f7f7;
    border-color: #000000;
    transform: scale(0.96);
}

.button-action-mn-product:disabled {
    border-color: #dddddd;
    color: #dddddd;
    cursor: not-allowed;
    opacity: 1;
}
.button-action-mn-product.save {
    width: 200px;
    background-image: linear-gradient(to right top, #fc6c8f, #ffb86c);
    column-gap: 5px;
}
.button-action-mn-product.change {
    background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
    color: white;
}
.title-pagination {
    font-weight: 400;
    font-size: 14px;
    margin-right: 20px;
}
.text-product {
    max-width: 360px;
    text-wrap: wrap;
    word-wrap: break-word;
}


