.filter-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.filter-category {
    width: 100%;
    height: auto;
}

.filter-category-title {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 10px;
}

.filter-category-list {
    display: flex;
    flex-direction: column;
    column-gap: 5px;
}

.filter-category-item {
    height: 30px;
    font-size: 16px;
    font-weight: 400;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    text-align: start;
    cursor: pointer;
    transition: all 0.3s;
    border-bottom: 0.5px solid darkgrey;
}

.filter-category-item:hover {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    color: red;
}

.filter-category-item.active {
    color: #e59804;
}

.filter-author {
    width: 100%;
    height: auto;
}

.filter-author-title {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 10px;
}

.filter-author-list {
    display: flex;
    flex-direction: column;
    column-gap: 5px;
}

.filter-author-item {
    height: 30px;
    font-size: 16px;
    font-weight: 400;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    text-align: start;
    cursor: pointer;
    transition: all 0.3s;
    border-bottom: 0.5px solid darkgrey;
}

.filter-author-item:hover {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    color: red;
}

.filter-author-item.active {
    color: #e59804;
}

.filter-pice-controller {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}

.filter-price-controler-title {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 10px;
}

.filterprice-option-1 {
    padding: 5px;
    background-color: #f3f4f6;
    border-radius: 4px;
    margin-bottom: 5px;
    cursor: pointer;
    display: flex;
    column-gap: 10px;
    transition: all 0.4s;
}

.filterprice-option-1:active {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
        rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.filterprice-option-1:hover {
    background-color: #d1d2d5;
}

.filter-price {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.filter-price-title {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 10px;
}

.filter-list-price {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.filter-item-price {
    margin-bottom: 10px;
    text-align: start;
}
