@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

.user-container {
    margin: 0 100px;
    margin-top: 10px;
    border-radius: 10px;
    height: auto;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}
.container-left {
    width: 250px;
    margin-right: 10px;
}
.sidebar {
    background: #ffff;
    width: 250px;
    min-height: 600px;
    height: auto;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    scrollbar-width: none;
    transition: all 0.3s ease;
}

.sidebar::-webkit-scrollbar {
    display: none;
}

.sidebar .side-menu {
    width: 100%;
    margin-top: 10px;
}

.sidebar .side-menu li {
    height: 48px;
    background: transparent;
    margin-left: 6px;
    border-radius: 48px 0 0 48px;
    padding: 4px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.sidebar .side-menu li:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.sidebar .side-menu li.active {
    background: #1976d2;
    position: relative;
}

.sidebar .side-menu li.active::before {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    top: -40px;
    right: 0;
    box-shadow: 20px 20px 0 gray;
    z-index: -1;
}

.sidebar .side-menu li.active::after {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    bottom: -40px;
    right: 0;
    box-shadow: 20px -20px 0 gray;
    z-index: -1;
}

.sidebar .side-menu li span {
    width: 100%;
    height: 100%;
    background: #ffff;
    display: flex;
    align-items: center;
    border-radius: 48px;
    font-size: 16px;
    color: black;
    white-space: nowrap;
    overflow-x: hidden;
    transition: all 0.3s ease;
}

.sidebar .side-menu li.active span {
    color: brown;
}

.sidebar .side-menu li span .bx {
    min-width: calc(60px - ((4px + 6px) * 2));
    display: flex;
    font-size: 1.6rem;
    justify-content: center;
}

.sidebar .side-menu li span.logout {
    color: red;
}
.logout-btn {
    padding: 12px;
    background-color: red;
    border-radius: 8px;
    border: none;
    color: #fff;
    width: 100%;
    height: 40px;
}
.userNav-list {
    width: 100%;
    padding: 10px;
}
/* content page css  */
.change {
    z-index: -100;
    opacity: 0;
}
.user-info-main {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
}
.user-cart-main {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
}
.user-order-main {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
}
/* content main page css  */
.container-right {
    max-width: 1050px;
    width: 100%;
    background-color: #fff;
}
.sidebar-avatar {
    padding: 5px;
    background-color: #fff;
    display: flex;
    width: 100%;
    height: auto;
    column-gap: 10px;
}
.sidebar-avatar .user-avatar {
    width: 50px;
    height: 50px;
}
.sidebar-avatar .user-avatar img {
    width: 50px;
    height: 50px;
    object-fit: cover;
}
.user-info-title {
    font-size: 14px;

    color: gray;
}
.user-info-name {
    font-weight: 500;
}
.user-info-left {
    width: 550px;
    padding: 16px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    min-height: 500px;
}
.user-form-update-info {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}
.user-form-update-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}
.form-info {
    display: flex;
    justify-content: space-between;
}
.user-input-box {
    display: flex;
    flex-direction: column;
}

.user-input-box input {
    height: 40px;
    width: 200px;
    border-radius: 5px;
}
.user-input-box label {
    font-size: 16px;
    margin-bottom: 8px;
}
#input-avatar-user {
    width: 50px;
    height: 50px;
    background-color: #fff;
    border: none;
    display: none;
}
#previewImage-avatar-user {
    min-width: 70px;
    min-height: 70px;
    max-width: 70px;
    height: 70px;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    margin: 5px;
}
.avatar-priview {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 100px;
    width: 100px;
}

/* CSS */
.user-info-button-sumit {
    backface-visibility: hidden;
    background-color: #405cf5;
    border-radius: 6px;
    border-width: 0;
    box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset,
        rgba(50, 50, 93, 0.1) 0 2px 5px 0, rgba(0, 0, 0, 0.07) 0 1px 1px 0;

    color: #fff;
    cursor: pointer;

    font-size: 20px;
    height: 44px;
    line-height: 1.15;

    outline: none;
    overflow: hidden;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-transform: none;
    transform: translateZ(0);
    transition: all 0.2s, box-shadow 0.08s ease-in;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 60%;
    margin: 0 auto;
    margin-top: 50px;
}

.user-info-button-sumit:disabled {
    cursor: default;
}

.user-info-button-sumit:focus {
    box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset,
        rgba(50, 50, 93, 0.2) 0 6px 15px 0, rgba(0, 0, 0, 0.1) 0 2px 2px 0,
        rgba(50, 151, 211, 0.3) 0 0 0 4px;
}
.user-info-right {
    padding: 16px;
    width: 432px;
}
.user-info-phone-email {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
}
.user-info-phone-email-title {
    font-size: 20px;
    color: gray;
}
.user-info-content-phone-email {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    margin-bottom: 20px;
}
.user-info-phone {
    display: flex;
    column-gap: 10px;
    row-gap: 5px;
    align-items: center;
}
.info-phone-content {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}
.info-phone-content:first-child {
    color: gray;
}
.button-edit-info-phone {
    width: 80px;
    border: none;
    border-radius: 8px;
    text-align: center;
    background-color: #2b27f7;
    color: #fff;
    font-weight: 500;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
